// BACKGROUND
@keyframes color-change-5x {
  0% {
    background: #7C83FD;
    background-position: 50% 0%;
  }
  25% {
    background: #96BAFF;
  }
  50% {
    background: #7DEDFF;
  }
  75% {
    background: #88FFF7;
  }
  100% {
    background: #E4F9F5;
    background-position: 50% 100%;
  }
}

// WORD-ANIMATION

@keyframes change {
  0% { content:"stay"; }
  10% { content:"inspire"; }
  20% { content:"admire"; }
  30% { content:"enjoy"; }
  40% { content:"help"; }
  50% { content: "laugh"; }
  60% { content: "learn"; }
  70% { content: "teach"; }
  80% { content: "build"; }
  90% { content: "dream"; }
  100% { content: "explore"; }
}