// Navbar
.navbar {
  background-color: #262626;
  
  &--item {
    color: $dim-text;
    position: relative;
  }
}

// HOME


.section {
    &-1 {
        @include changing_color_background();
    }

    &-2 {
        @include layout();
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23211631' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%2339235f' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23533191' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%236e3fc7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23894dff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;

        &-text {
            color: white
        }
    }

    &-3 {
        @include changing_color_background();
        font-size: 1.2rem;
        height: 100vh;
        color: $dim-text; 

        em {
          @include bolden-word();
        }

        &-slider {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &::before, &::after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

          min-height: 20vh;
          margin: 0;
          font-size: 0.875rem;
          line-height: 1.5;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.625rem;
          grid-template-areas: ". main main ." ". main main .";
        }

    }
}

// projects

.projects {
  @include layout();
  height: 100%;
  background-color: #440a67;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23a6f6f1'/%3E%3Cstop offset='1' stop-color='%23440a67'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%237580ac'/%3E%3Cstop offset='1' stop-color='%23440a67'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='translate(960 0)'%3E%3Cg transform='translate(0 225)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-280.8 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.project-card {
  background-color: rgba(255,255,255,0.95);
  padding: 1.3rem;
  width: 80%;
  margin: 1rem 0rem 1rem 0;
  transition: all .5s ease-in-out;
  font-size: 1.2rem;
  color: #2C2E43;
  text-shadow: none;
  box-shadow: -0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.4);
  transform: scale(0.9);

  &:hover {
    box-shadow: 0rem 0.9rem 0.4rem rgba(0, 0, 0, 0.5);
    transform: translate(0.4rem, -1rem);
    transform: scale(1);
  }
}


// word animation

.ms-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: sans-serif;
    
    width: 100vw;
    height: 100vh;
    
    background-color: #440a67;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2341aea9'/%3E%3Cstop offset='1' stop-color='%23440a67'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23a6f6f1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23a6f6f1' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
    &__title {
      flex: 1 1 100%;
      width: 100%;
    
      text-align: center;
      font-size: 4rem;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px 2px rgba(black, .4);
    }
  }
  
  .ms-slider {
    display: inline-block;
    
    height: 1.5em;
    overflow: hidden;
    
    vertical-align: middle;
    
    mask-image: linear-gradient(transparent, white, white, white, transparent);
    mask-type: luminance;
    mask-mode: alpha;
    
    &__words {
      display: inline-block;
      margin: 0;
      padding: 0;
    
      list-style: none;
      
      animation-name: wordSlider;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
      animation-duration: 7s;
    }
    
    &__word {
      display: block;
      line-height: 1.3em;
      text-align: left;
    }
  }
  
  @keyframes wordSlider {
    $steps: -0%, -25%, -50%, -75%;
    
    @for $index from 0 to length($steps)-1 {
      $next: $index+1;
      $step: floor(100/(length($steps)-1));
      $animation_step: floor($step*.2);
    }
    100% {
      transform: translateY(nth($steps, length($steps)));
    }
  }


// SLIDER


#container {
  width: $slider-width;
  height: 5.5rem;
  margin: 0;
  grid-area: main;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

.toggle {
  position: absolute;
  width: $slider-width;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="checkbox"] {
  display: none;
}

.check-label {
  display: block;
  width: $slider-width;
  height: $slider-height;
  border: none;
  border-radius: 3rem;
  background: #d7d7d7;
  cursor: pointer;
  overflow: hidden;
  .face {
    display: block;
    position: absolute;
    content: '';
    top: 0.45rem;
    bottom: 0;
    right: 7.25rem;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0;
    border: none;
    border-radius: 3rem;
    background: -webkit-linear-gradient(45deg, #dedede 0%, #fff 70%);
    background: -o-linear-gradient(45deg, #dedede 0%, #fff 70%);
    background: linear-gradient(45deg, #dedede 0%, #fff 70%);
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    overflow: hidden;
  }
}

[type="checkbox"] {
  + .check-label #background {
    width: inherit;
    height: inherit;
    border: none;
    border-radius: inherit;
    background: -webkit-gradient(linear, right top, left top, from(#f39ab6), to(#f39af3));
    background: -webkit-linear-gradient(right, #f39ab6, #f39af3);
    background: -o-linear-gradient(right, #f39ab6, #f39af3);
    background: linear-gradient(to left, #f39ab6, #f39af3);
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  &:checked + .check-label #background {
    opacity: 1;
  }
}

.face-container {
  position: absolute;
  width: 4.5rem;
  height: 4.5rem;
}

.face {
  -webkit-box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
}

.eye {
  position: absolute;
  top: 2.25rem;
  height: 0.25rem;
  width: 0.625rem;
  background: #8e8e8e;
  border-radius: 0 0 100% 50%;
  &.left {
    left: 0.75rem;
  }
  &.right {
    left: 2.125rem;
  }
}

.mouth {
  position: absolute;
  top: 3.125rem;
  left: 1.45rem;
  width: 0.475rem;
  height: 0.25rem;
  background: #8e8e8e;
  border-radius: 40% 40% 100% 50%;
}

[type="checkbox"] {
  &:checked {
    + .check-label .face {
      right: 0.6rem;
      .face-container {
        -webkit-animation: rotateElement forwards 0.3s;
        animation: rotateElement forwards 0.3s;
      }
      .eye {
        &.left, &.right {
          -webkit-animation: changeFace forwards 0.3s 0.075s;
          animation: changeFace forwards 0.3s 0.075s;
        }
      }
      .mouth {
        -webkit-animation: changeMouth forwards 0.3s 0.075s;
        animation: changeMouth forwards 0.3s 0.075s;
      }
    }
    + .check-label .face .eye {
      &.left {
        left: 1rem;
      }
      &.right {
        left: 2.5rem;
      }
    }
  }
  + .check-label .face {
    .face-container {
      -webkit-animation: rotateElementReverse forwards 0.3s;
      animation: rotateElementReverse forwards 0.3s;
    }
    .eye {
      &.left, &.right {
        -webkit-animation: changeFaceReverse forwards 0.3s;
        animation: changeFaceReverse forwards 0.3s;
      }
    }
    .mouth {
      -webkit-animation: changeMouthReverse forwards 0.3s;
      animation: changeMouthReverse forwards 0.3s;
    }
  }
}

// FOOTER
.social-menu {
	display: flex;
	list-style-type: none;
}
 
.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-github {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-twitter {
	background:#00aced
}

.fa-envelope {
	background:#3f729b
}

.fa-youtube {
	background:#c4302b
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}

.footer {
  padding: 2rem 3rem 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: #262626;
  display: flex;
  justify-content: space-between;
}

.backToHome {
  padding: 1rem 3rem 0 5rem;
  background-color: #262626;
  a {
    text-decoration: none;
    color: white;
  }
}

.foot-caption {
  text-decoration: none;
  color: white;
}

// ABOUT

.about-me {
  @include changing_color_background();
  font-size: 1.2rem;
  display: block;
  padding: 7rem 5rem;
  color: $dim-text;

  &__section-1 {
    width: 100%;
  }

  &__section-2 {
    width: 100%;
  }

  em {
    @include bolden-word();
  }
  a {
    color: pink;
  }
}

// RECOGNITIONS
.recognitions {
  @include changing_color_background();
  display: block;
  color: black;
  text-shadow: none;
}

* {
  font-size: 1.2rem;
}

@media (max-width: 768px) { 
  .about-me, .section-3{
    height: 100%;
  }
  .footer {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 }
