@mixin layout() {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(black, 1);
    font-size: 1.75rem;
}