// Interactive hover animations

.emphasise {
  transition: all .2s ease-in-out;
  color: white;
  display: inline-block;
}
.emphasise:hover{
  display: flexx;
  color: #F08FC0;
  transform: translateY(3px);
  animation: tada 1s;
}